body{

	width: 100%;
}
*{
	padding:0;
	margin:0;
}
li,ul,ol{
	list-style: none;
}
a{
	text-decoration:none;
	font-family: '微软雅黑';
	display: block;
	font-size:14px;
	color:#333333;
	height: 42px;
}

/*logo开始*/
.header{
	height:174px;
	width: 100%;
	background-color:#f2f3f3;
}
.logo{
	height: 127px;
	text-align:center;
}
.logo img{
	margin-top: 30px;
}
.shouye{
	height: 45px;
	width: 675px;
	background-color: #ffffff;
	margin:0 auto;
	border-radius: 23px;
}
.shouye a:hover{
	color:  #1e50ae;
	font-family: '微软雅黑';
	display: block;
	font-size:14px;
	height: 42px;
	border-bottom: 3px solid #1e50ae;
}
.shouye li{
	float: left;
	height: 45px;
	padding:0 30px;
	line-height: 45px;
	background: url(./image/gezi.png) no-repeat right center;
}

/*logo结束*/
/*图片开始*/
.tupian{
	width: 100%;
	height: 408px;
	background: url(./image/tupian-01.png) no-repeat center center;
}
/*图片结束*/
/*服务开始*/
.fuwu{
	height: 811px;
	padding-top: 62px;
	background-color:white;
}
.fuwu h1{
	text-align: center;
	font-family: Regular;
	font-size: 34px;
}
.fuwu p{
	padding-top: 20px;
	font-size: 20px;
	font-family: Regular;
	text-align: center;
}
.fuwu ul{
	width: 1340px;
	margin:0 auto;
}
.fuwu ul li{
	width: 334px;
	height: 368px;
	float: left;
}
.fuwu ul li .tubiao1{
	width: 164px;
	height: 192px;
	
	margin-top: 170px;
	margin-left: 80px;
}
.fuwu ul li .tubiao2{
	width: 164px;
	height: 120px;
	margin-top: 170px;
	margin-left: 80px;
}
.tubiao1 h1{
	font-family: '微软雅黑';
	font-size: 16px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.tubiao1 p{
	font-family: '微软雅黑';
	margin-top: 7px;
	padding-top: 0px;
	text-align: left;
	padding-left: 60px;
	font-size: 14px;
	background: url(./image/dian.png) no-repeat 50px center;
	color:#c8c8c8;
}
.tubiao2 h1{
	font-family: '微软雅黑';
	font-size: 16px;
	margin-bottom: 0px;
	text-align: 0px;
	padding-bottom: 0px;
}
/*服务结束*/
/*解决开始*/
.jieju{
	height: 711px;
	width: 100%;
	background: url(./image/tupian-02.png) no-repeat center; 
}
.jieju .jieju1{
	height: 255px;
}
.jieju h1{
	padding-top: 75px;
	font-family: '微软雅黑';
	font-size: 34px;
	text-align: center;
}
.jieju1 p{
	padding-top: 22px;
	font-family: Aparajita;
	font-size: 22px;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.jieju .jieju2{
	margin-top: 88px;
	height: 456px;
	width: 1200px;
	margin: auto;
	margin-bottom: 0px;
	background: url(./image/liaojie.png) no-repeat center 355px;
}
.jiantou01{
	margin-top: 130px;
	margin-left: 0px;
	float: left;
}
.jiantou02{
	margin-top: 130px;
	margin-right: 0px;
	float: right;
}
.fuwutu{
	margin-left: 35px;
	margin-right: 18px;
	float: left;
}
/*解决结束*/
/*资讯开始*/
.zixun{
	height: 920px;
}
.zixun h1{
	font-family: '微软雅黑';
	font-size: 34px;
	text-align: center;
	padding-top: 68px;
}
.zixun p{
	font-family: '微软雅黑';
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
}
.zixun .zixun1{
	height: 763px;
	width: 1061px;
	margin: 0 auto;
}
.zixun1 img{
	float: left;
	margin-left: 20px;
	margin-top: 54px;
	margin-bottom: 90px;
	margin-right: 60px;
}
.zixun1 h1{
	color: #333333;
	text-align: left;
	margin-left: 575px;
	font-family: Regular;
	font-size: 22px;
}
.zixun1 h2{
	margin-top: 16px;
	font-size: 18px;
	font-family: light;
	margin-left: 575px;
	color: #bfbfbf;
}
.zixun1 p{
	font-size: 14px;
	font-family:  Regular;
	text-align: left;
	margin-left: 575px;
	line-height: 28px;
	color: #d2d2d2;
}
.zixun2{
	width: 1061px;
	height: 327px;
	margin: 0 auto;
	float: left;
}
.zixun2 ul{
	display: block;
}
.zixun2 ul li{
	float: left;
	margin-left: 20px;
	font-size: 14px;
	text-align: 24px;
	line-height: 45px;
	color: #c8c8c8;
	
}
/*咨询结束*/
/*底部开始*/
.dibu{
	height: 100px;
	background-color: #f5f5f5;
}
.dibu .dibu1{
	height: 100px;
	width: 1200px;
	margin: 0 auto;
}
.dibu1 ul li{
	display: block;
	float: left;
	width: 300px;
	height: 100px;
}
.dibu1 ul li h1{
	font-size: 19px;
	padding-left: 120px;
	padding-top: 32px;
}
.dibu1 ul li p{
	font-size: 13px;
	padding-left: 120px;
	padding-top: 10px;
	font-family: '微软雅黑';
}
/*底部结束*/
/*联系开始*/
.lianxi{
	width: 100%;
	height: 262px;
	background-color: #000000

}
.lianxi .lianxi1{
	width: 1200px;
	height: 262px;
	margin: 0 auto;
}
.lianxi .lianxi1 .lianxi2{
	width: 715px;
	height: 232px;
	float: left;
}
.lianxi .lianxi1 .lianxi2 ul li{
	width: 170px;
	height: 217px;
	display: block;
	float: left;
}
.lianxi .lianxi1 .lianxi2 ul li h1{
	padding-top: 73px;
	font-family: '微软雅黑';
	font-size:18px;
	color: #ebebeb;
}
.lianxi .lianxi1 .lianxi2 ul li a{
	font-family: '微软雅黑';
	font-size:14px;
	height: 30px;
	color: #ebebeb;
	margin: 0 0;
	padding: 0 0;
	line-height: 34px;
}
.lianxi .lianxi1 img{
	padding-top: 71px;
	margin-bottom: 90px;
}
.zuihou{
	margin-top: 2px;
	width: 100%;
	height: 123px;
	background-color: #323232
}
.zuihou1{
	width: 732px;
	height: 123px;
	margin: 0 auto;
	background-color: #323232
}
.zuihou1 ul li {
	display: block;
	float: left;
	padding-right: 14px;
	padding-left: 14px;
	color: #ebebeb;
	margin-top: 31px;
	background:url(./image/gezi.png) no-repeat right center;
}
.zuihou1 a{
	padding-left: 230px;
	padding-top: 23px;
	color: #ebebeb;
	text-align: center center;
	float: left;
}